body,
#wrapper #content-wrapper {
  background-color: #f0ebf8;
}

.topbar {
  height: 3.375rem;
}

@media (min-width: 768px) {
  .sidebar {
    width: 11rem !important;
  }
}

.form-editor .head-buttons {
  gap: 5px;
}

.w-fit-content {
  width: fit-content;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.draggable-icon {
  text-align: center;
  color: rgba(128, 128, 128, 0.5215686275);
  cursor: move;
}

.form-editor .form-container {
  border-top: 17px solid #4e73df;
  border-radius: 10px;
  margin-top: 1rem;
  padding-bottom: 17px;
  width: 80%;
  margin: 1rem auto;
}

.form-editor .form-container .form-content .form-details,
.form-editor .form-container .form-content .form-fields>div {
  border-radius: 10px;
  box-shadow: 0px 3px 5px #c8d2ef;
  margin-bottom: 15px;
  background-color: #fff;
  padding: 15px 15px 5px 15px;
}

.form-editor .form-container .form-content .form-details:focus-within,
.form-editor .form-container .form-content .form-details:focus,
.form-editor .form-container .form-content .form-details:focus-visible,
.form-editor .form-container .form-content .form-fields>div:focus-within,
.form-editor .form-container .form-content .form-fields>div:focus,
.form-editor .form-container .form-content .form-fields>div:focus-visible {
  border-left: 15px solid #4e73df;
  transition: 0.1s ease-in-out;
}

.form-editor .form-container .form-content .form-details:focus-within .form-details,
.form-editor .form-container .form-content .form-details:focus .form-details,
.form-editor .form-container .form-content .form-details:focus-visible .form-details,
.form-editor .form-container .form-content .form-fields>div:focus-within .form-details,
.form-editor .form-container .form-content .form-fields>div:focus .form-details,
.form-editor .form-container .form-content .form-fields>div:focus-visible .form-details {
  border-top-left-radius: 0 !important;
}

.form-editor .form-container .form-content .form-details .form-control,
.form-editor .form-container .form-content .form-fields>div .form-control {
  border-radius: 0;
  border: 0;
  font-weight: bold !important;
}

.form-editor .form-container .form-content .form-details .form-control::placeholder,
.form-editor .form-container .form-content .form-fields>div .form-control::placeholder {
  font-weight: normal !important;
}

.form-editor .form-container .form-content .form-details .form-control:focus,
.form-editor .form-container .form-content .form-fields>div .form-control:focus {
  box-shadow: 0px 2px 0px #4e73df;
}

.form-editor .form-container .form-content .form-details {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-editor .form-container .form-content .form-fields .form-field:focus-within .field-actions,
.form-editor .form-container .form-content .form-fields .form-field:focus .field-actions,
.form-editor .form-container .form-content .form-fields .form-field:focus-visible .field-actions {
  display: flex;
}

.form-editor .form-container .form-content .form-fields .form-field .field-actions {
  display: none;
  justify-content: flex-end;
  border-top: 1px solid rgba(78, 114, 223, 0.3215686275);
}

.form-editor .form-container .form-content .form-fields .form-field .field-actions .field-buttons-action {
  font-size: 25px;
  border-right: 1px solid rgba(78, 114, 223, 0.3215686275);
}

.form-editor .form-container .form-content .form-fields .form-field .field-actions .field-extra-action .field-required {
  width: 120px;
  margin-top: 0.5rem;
}

.form-editor .form-container textarea {
  resize: none;
}

.dataTables_paginate .pagination {
  /* text-align: right; */
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.35rem;
  justify-content: end;
}

.dataTables_length label {
  display: inline-flex;
}


.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 60%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog {
  left: -60%;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
  left: 0;
}



/*Right*/
/* .modal.right.fade .modal-dialog {
  right: -60%;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
} */

.modal.right.fade.in .modal-dialog {
  right: 0;
}


@media (max-width: 767px) {

  .modal.left .modal-dialog,
  .modal.right .modal-dialog {
    width: 100%;
  }

  .modal.left.fade .modal-dialog {
    left: -100%;
  }

  .modal.right.fade .modal-dialog {
    right: -100%;
  }
}

.modal.right label {
  font-size: 1.2em;
}

.modal.right .well {
  background: #f3f7ff;
  margin-bottom: 4px;
  padding: 5px 10px;
}

.modal.right .modal-title {
  font-size: 1.6em;
  font-weight: bolder;
}

.modal.right .close {
  font-size: 30px;
}

.modal-dialog {
  position: fixed;
  margin: auto;
  width: 700px;
  height: 100%;
  right: 0px;
}

.modal-content {
  height: 100%;
}

modal-dialog {
  max-width: 90%;
}

.modal-dialog-slideout {
  min-height: 100%;
  margin: 0 0 0 auto;
  background: #fff;
}

.modal.fade .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(100%, 0) scale(1);
  transform: translate(100%, 0) scale(1);
}

.modal.fade.show .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  display: flex;
  align-items: stretch;
  -webkit-box-align: stretch;
  height: 100%;
}

.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body {
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-dialog-slideout .modal-content {
  border: 0;
}

.modal-dialog-slideout .modal-header,
.modal-dialog-slideout .modal-footer {
  height: 4rem;
  display: block;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #ffffff00;
}