{% extends 'base.html.twig' %}

{% block title %}$formName Form
{% endblock %}

{% block body %}
	<section class="mt-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="row d-md-flex">
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
