{% extends 'base.html.twig' %}

{% block title %}
	Form Submitted Successfully
{% endblock %}

{% block body %}

	<section class="mt-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-12">
					<h5 class="text-center text-success">Form Submitted Successfully</h5>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
