{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<header class="masthead">
		<div class="container px-5">
			<div class="row gx-5 align-items-center">
				<div
					class="col-lg-6">
					<!-- Mashead text and app badges-->
					<div class="mb-5 mb-lg-0 text-center text-lg-start">
						<h1 class="display-1 lh-1 mb-3">Showcase your app beautifully.</h1>
						<p class="lead fw-normal text-muted mb-5">Launch your mobile app landing page faster with this free, open source theme from Start Bootstrap!</p>
					</div>
				</div>
				<div
					class="col-lg-6">
					<!-- Masthead device mockup feature-->
					<div class="masthead-device-mockup">
						<svg class="circle" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
							<defs>
								<linearGradient id="circleGradient" gradienttransform="rotate(45)">
									<stop class="gradient-start-color" offset="0%"></stop>
									<stop class="gradient-end-color" offset="100%"></stop>
								</linearGradient>
							</defs>
							<circle cx="50" cy="50" r="50"></circle>
						</svg>
						<svg class="shape-1 d-none d-sm-block" viewbox="0 0 240.83 240.83" xmlns="http://www.w3.org/2000/svg">
							<rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03" transform="translate(120.42 -49.88) rotate(45)"></rect>
							<rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03" transform="translate(-49.88 120.42) rotate(-45)"></rect>
						</svg>
						<svg class="shape-2 d-none d-sm-block" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
							<circle cx="50" cy="50" r="50"></circle>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</header>

	<aside class="text-center bg-gradient-primary-to-secondary">
		<div class="container px-5">
			<div class="row gx-5 justify-content-center">
				<div class="col-xl-8">
					<div class="h2 fs-1 text-white mb-4">"Formulator is a symfony project enables users to create and manage self-serve forms similar to Google Forms. It provides a user-friendly interface for form creation, sharing, and response collection"</div>
				</div>
			</div>
		</div>
	</aside>


	<section id="features">
		<div class="container px-5">
			<div class="row gx-5 align-items-center">
				<div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
					<div class="container-fluid px-5">
						<div class="row gx-5">
							<div
								class="col-md-6 mb-5">
								<!-- Feature item-->
								<div class="text-center">
									<i class="bi-phone icon-feature text-gradient d-block mb-3"></i>
									<h3 class="font-alt">Device Mockups</h3>
									<p class="text-muted mb-0">Ready to use HTML/CSS device mockups, no Photoshop required!</p>
								</div>
							</div>
							<div
								class="col-md-6 mb-5">
								<!-- Feature item-->
								<div class="text-center">
									<i class="bi-camera icon-feature text-gradient d-block mb-3"></i>
									<h3 class="font-alt">Flexible Use</h3>
									<p class="text-muted mb-0">Put an image, video, animation, or anything else in the screen!</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div
								class="col-md-6 mb-5 mb-md-0">
								<!-- Feature item-->
								<div class="text-center">
									<i class="bi-gift icon-feature text-gradient d-block mb-3"></i>
									<h3 class="font-alt">Free to Use</h3>
									<p class="text-muted mb-0">As always, this theme is free to download and use for any purpose!</p>
								</div>
							</div>
							<div
								class="col-md-6">
								<!-- Feature item-->
								<div class="text-center">
									<i class="bi-patch-check icon-feature text-gradient d-block mb-3"></i>
									<h3 class="font-alt">Open Source</h3>
									<p class="text-muted mb-0">Since this theme is MIT licensed, you can use it commercially!</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 order-lg-0">
					<div class="features-device-mockup">
						<svg class="circle" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
							<defs>
								<linearGradient id="circleGradient" gradienttransform="rotate(45)">
									<stop class="gradient-start-color" offset="0%"></stop>
									<stop class="gradient-end-color" offset="100%"></stop>
								</linearGradient>
							</defs>
							<circle cx="50" cy="50" r="50"></circle>
						</svg>
						<svg class="shape-1 d-none d-sm-block" viewbox="0 0 240.83 240.83" xmlns="http://www.w3.org/2000/svg">
							<rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03" transform="translate(120.42 -49.88) rotate(45)"></rect>
							<rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03" transform="translate(-49.88 120.42) rotate(-45)"></rect>
						</svg>
						<svg class="shape-2 d-none d-sm-block" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
							<circle cx="50" cy="50" r="50"></circle>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
