{% extends 'base.html.twig' %}

{% block title %}Login
{% endblock %}

{% block body %}
	<section class="mt-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="row d-md-flex">
						<div class="col-6 login-preview">
							<img src="{{ asset('images/blueprint.jpg') }}" width="450px" height="450px"/>
						</div>
						<div class="col-6 p-4 p-md-5">
							<div class="d-flex">
								<div class="w-100">
									<h3 class="mb-4">Sign In</h3>
								</div>
							</div>
							<form action="{{ path("app_login_check") }}" method="POST" class="signin-form">
								<div class="form-group mb-3">
									<label class="label" for="name">Email</label>
									<input type="text" class="form-control" placeholder="Email" required>
								</div>
								<div class="form-group mb-3">
									<label class="label" for="password">Password</label>
									<input type="password" class="form-control" placeholder="Password" required>
								</div>
								<div class="form-group">
									<button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
								</div>
							</form>
							<p class="text-center">Not a member?
								<a data-toggle="tab" href="{{ path('app_register') }}">Sign Up</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
